.a{
    display: inline-block;
      width: 250px;
      height: 250px;
      vertical-align: top;
}
.b {
    overflow: scroll;
    width: 350px;
    height: 150px;
    display: inline-block;
}
h2 {
    color: blueviolet;
}